.App {
  text-align: center;
}

.buttons-container {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}

.matrix-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: grid;
}
